*{font-family:Arial, Helvetica,"Microsoft Yahei", sans-serif;}
body,p,ul,li,ol,dl,dd,dt,table,tr,td,th,form,h1,h2,h3,h4,h5,h6,img,input,fieldset,legend{margin: 0;padding:0; }
/*html,body{overflow-x: hidden;}*/
img{border: none;} 
ol,ul,li{list-style: none;}
table {border-collapse: collapse;border-spacing: 0;/}
a{text-decoration: none;}
i{font-style: normal;}
h1,h2,h3,h4,h5,h6{font-weight: normal;}
textarea{resize: none;overflow: hidden;}
strong{font-weight: normal;}
iframe{border: none;}
 
.clear{ clear: both;height: 0;overflow: hidden;}
.claerfloat{zoom: 1;}
.claerfloat:after{display: block;clear: both;content: "";visibility: hidden;height: 0;}
