*{
  margin:0;
  padding:0;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}

html{
  font-size:100px;
}
html,body {
  height:100%;
}
body {
  display: flex;
  flex-direction: column;
  background:#f6f6f6;
  height:9.8rem;
}
.content {
  width: 100%;
  overflow-y:scroll;
  flex:1;
}
.header{
  width:100%;
  height:0.5rem;
  background:white;
  position: fixed;
  z-index: 9999;
  .textId{
    width: 2.8rem;
    height: 0.3rem;
    display: block;
    margin: 0.1rem 0.2rem;
    border-radius:1rem;
    border:none;
    text-indent:0.4rem;
    background:#f8f8f8;
    border:1px solid #cfcccc;
  }
  .imgId{
    position: absolute;
    top:0.15rem;
    left:0.3rem;
    width:0.2rem;
    height: 0.2rem;
  }
  .imgId2{
    position: absolute;
    top:0.15rem;
    left:3.3rem;
    width:0.2rem;
    height: 0.2rem;
  }
}
.con{
  height:3rem;
  background:white;
  margin-bottom:0.12rem;
  padding:0 0.15rem;
  .con_one{
    width:100%;
    height:0.5rem;
    margin-top:0.5rem;
    background:white;
    img{
      width:0.1rem;
      height:0.25rem;
      float:left;
    }
    h4{
      float: left;
      font-size: 17px;
      color:#999;
    }
    a{
      font-size: 16px;
      float:right;
      color:#999;
    }
  }
  .zong{
    width:0.9rem;
    heigth:0.9rem;
    float:left;
    .imgId{
      float:left;
      width:0.4rem;
      height:0.4rem;
      margin:0.16rem 0.32rem;
    }
    span{
      float:left;
      font-size: 14px;
      padding-left: 0.23rem;
    }
  }
}
.cons{
  background:white;
  margin-bottom:0.12rem;
  .con_one{
    height:0.5rem;
    background:white;
    padding: 0.1rem;
    img{
      margin-left: 0.025rem;
      width:0.1rem;
      height:0.25rem;
      float:left;
    }
    h4{
      margin-left:0.025rem;
      float: left;
      font-size: 17px;
      color:#999;
    }
    a{
      float:left;
      font-size: 16px;
      float:right;
      color:#999;
    }
  }
  .zong{
    width:0.9rem;
    heigth:0.9rem;
    float:left;
    .imgId{
      float:left;
      width:0.4rem;
      height:0.4rem;
      margin:0.16rem 0.32rem;
    }
    span{
      float:left;
      font-size: 14px;
      padding-left: 0.23rem;
    }
  }
  .imgfont{
    width:0.7rem;
    height:0.8rem;
    margin-left:0.2rem;
    margin-top:0.2rem;
    float:left;
    img{
      width:0.4rem;
      height:0.5rem;
      display: block;
      margin-left:0.15rem;
    }
    p{
      text-align: center;
      font-size: 12px;
      padding-top:0.1rem;
    }
  }
}
.foo{
  display: block;
  width:100%;
  height:0.5rem;
  background:white;
  position:fixed;
  left: 0;
  bottom: 0;
}
footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 0.5rem;
  a{
    width: 25%;
    text-align: center;
    display: block;
    img{
      width: 0.3rem;
      height: 0.3rem;
      margin: 0 auto;
      display: block;
    }
    span{
      font-size: 12px;
      color: #cccccc;
      display: block;
    }
  }
}
