html,body,div,p,form,ul,li,ol,dl,dt,dd,table,tr,td,th,hr,h1,h2,h3,h4,h5,h6,img,input{margin:0;padding:0;}
html{font-size: 26.666667vw;height: 100%;}
html,body{height: 100%;}
body{font-family:"微软雅黑",Arial;display: flex;flex-direction: column;}
a{text-decoration:none;display: block;}
span{display: block;}
ul,li{list-style:none;}
img{border:none;display: block;}
i{display: block;}
.claerfloat{zoom: 1;}
.claerfloat:after{display: block;clear: both;content: "";visibility: hidden;height: 0;}
/*==================header ============================*/
header{display: flex;height: 0.4rem;align-items: center;padding: 0 0.15rem;
    h2:nth-child(2){margin-left:0.9rem;width: 100%;}
    a:nth-child(4){margin-left: 0.2rem;}
    a{
        img{width: 0.275rem;height: 0.26rem;}
    }
    h2{
        img{width: 1.05rem;height: 0.265rem;}
    }
}
/*==================content ============================*/
.content{border-top: 1px solid transparent;flex:1;overflow-y: auto;
/*==================search ============================*/
    .search{margin: 0.08rem 0.15rem;border: 1px solid #f83e0a;border-radius: 20px;height: 0.3rem;display: flex;align-items: center;padding: 0 0.14rem;justify-content: space-between;
        span{color: #beb0b1;font-size: 12px;}
        img{width: 0.175rem;height: 0.185rem;}
    }
/*==================banner ============================*/
    .banner{width: 100%;position: relative;background: #f8f8f8;margin-bottom: 0.12rem;
       >img{width: 100%;} 
       i{position: absolute;top: 0.08rem;right: 0.08rem;
           img{width: 0.32rem;height: 0.32rem;}
       } 
    }
/*==================item ============================*/
    .item{padding: 0 0.15rem;
        .left{ width: 50%;padding-right: 0.05rem;float: left;}
        .right{width: 50%;padding-left: 0.05rem;float: right;}
        .left,.right{box-sizing: border-box;
            img{width: 100%;}
            h2{font-size: 14px;line-height: 0.34rem;}
            .progress_bar{position: relative;background: #efefef;border-radius: 8px;height: 0.04rem;
                .progress_inner{border-radius: 8px;width: 10%; background-color: #e13045;position: absolute;height: 100%;top: 0;left: 0;transition: width 1s linear 0s;animation: animate-positive 2s;}
            }
            .text{margin: 0.1rem 0;
                p{color: #7b7273;font-size: 12px;float: left;}
                span{font-size: 14px;color: #e13045;float: left;}
                small{color: #7b7273;font-size: 12px;display: block;float: right;}
            }
        }
    }
}
