* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

html {
  font-size: 100px; }

html, body {
  height: 100%; }

body {
  display: flex;
  flex-direction: column;
  background: #f6f6f6;
  height: 24.6rem; }

.content {
  width: 100%;
  overflow-y: scroll;
  flex: 1; }

.header {
  width: 100%;
  height: 0.5rem;
  background: white;
  position: fixed;
  z-index: 9999; }
  .header .textId {
    width: 2.4rem;
    height: 0.3rem;
    display: block;
    margin: 0.1rem 0.2rem;
    border-radius: 1rem;
    border: none;
    text-indent: 0.4rem;
    background: #f8f8f8;
    border: 1px solid #cfcccc; }
  .header .imgId {
    position: absolute;
    top: 0.15rem;
    left: 0.3rem;
    width: 0.2rem;
    height: 0.2rem; }
  .header .imgId2 {
    width: 0.25rem;
    height: 0.25rem;
    float: right;
    margin: -0.4rem 0.2rem; }

.photo {
  width: 100%;
  height: 0.8rem;
  background: white;
  margin-top: 0.5rem; }
  .photo #box {
    position: relative;
    width: 3rem;
    height: 1rem;
    overflow: hidden;
    margin-left: 0.1rem;
    margin: 0 auto; }
  .photo #img-list {
    position: absolute;
    z-index: 2;
    top: -0.4rem;
    width: 11.8rem;
    height: 0.9rem; }
    .photo #img-list img {
      width: 3rem; }
  .photo #img-list li {
    float: left; }
  .photo #direction-btn {
    display: none; }
  .photo #direction-btn a {
    position: absolute;
    top: 50%;
    margin-top: -1.5rem;
    width: 0.15rem;
    height: 0.3rem;
    color: #fff;
    text-align: center;
    font: 24px/60px "Microsoft Yahei";
    background: rgba(0, 0, 0, 0.4); }
  .photo #right-btn {
    right: 0; }

.choujiang {
  height: 1.3rem;
  background: white;
  overflow: hidden;
  display: flex;
  justify-content: space-between; }
  .choujiang .choujiang_one {
    float: left;
    width: 0.7rem;
    height: 1rem;
    margin: 0.15rem; }
    .choujiang .choujiang_one img {
      width: 0.4rem;
      height: 0.4rem;
      margin: 0rem 0.06rem;
      display: block; }
    .choujiang .choujiang_one p {
      font-size: 12px;
      padding: 0.2rem 0rem; }

.xing {
  position: relative;
  width: 100%;
  height: 0.6rem;
  margin-top: 0.2rem;
  background: white; }
  .xing img {
    height: 0.3rem;
    margin-top: 0.17rem;
    margin-left: 0.2rem;
    float: left;
    position: absolute; }
  .xing h3 {
    float: left;
    font-size: 22px;
    padding: 0.16rem;
    padding-left: 0.5rem;
    position: absolute; }
  .xing a {
    font-size: 16px;
    display: block;
    padding-top: 0.2rem;
    padding-left: 2.7rem; }
  .xing span {
    position: absolute;
    top: 0.15rem;
    left: 3.4rem;
    font-size: 24px;
    display: block; }

.fuli {
  width: 100%;
  height: 1.24rem;
  background: pink; }
  .fuli img {
    width: 1.23rem;
    height: 1.23rem;
    float: left; }
  .fuli h3 {
    float: left;
    font-size: 23px;
    padding-top: 0.3rem;
    padding-left: -0.9rem;
    color: #7f0112; }
  .fuli p {
    float: left;
    font-size: 18px;
    color: #7f0112; }

.guan {
  width: 100%;
  height: 0.8rem;
  background: white;
  display: flex;
  overflow: hidden;
  overflow: auto; }
  .guan img {
    width: 0.7rem;
    height: 0.5rem;
    float: left;
    margin: 0.15rem 0.122rem; }

.jd.last .jd_left {
  border-bottom: none; }

.jd {
  width: 100%; }
  .jd .jd_left {
    float: left;
    width: 49.7%;
    height: 0.7rem;
    background: white;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999; }
    .jd .jd_left:last-child {
      border-right: none; }
    .jd .jd_left img {
      width: 0.5rem;
      height: 0.5em;
      float: left;
      margin: 0.1rem 0.1rem; }
    .jd .jd_left h3 {
      display: block;
      font-size: 12px;
      padding-top: 0.18rem; }
    .jd .jd_left p {
      display: block;
      font-size: 10px;
      color: #999; }

.read {
  width: 100%;
  height: 1rem;
  background: white; }
  .read img {
    width: 0.5rem;
    float: left;
    margin: 0.3rem 0.2rem; }
  .read h4 {
    float: left;
    font-size: 17px;
    padding-top: 0.35rem; }

.kuai {
  width: 100%;
  height: 3.94rem;
  background: white;
  overflow: hidden;
  margin-top: 0.04rem; }
  .kuai .joy {
    width: 2rem;
    height: 0.5rem;
    margin-top: 0.2rem; }
    .kuai .joy p {
      font-size: 12px;
      color: red;
      padding: 0.38rem 0.2rem;
      float: left; }
    .kuai .joy h4 {
      font-size: 15px;
      padding: -0.1rem 0.3rem; }
  .kuai .middle {
    width: 100%;
    height: 2.3rem;
    background: white;
    cursor: pointer;
    overflow: hidden; }
    .kuai .middle .middle_one {
      width: 80%;
      height: 2.3rem;
      margin: 0.2rem 0.37rem; }
      .kuai .middle .middle_one p {
        font-size: 14px;
        color: blue; }
      .kuai .middle .middle_one h5 {
        font-size: 16px;
        float: left;
        color: blue; }
      .kuai .middle .middle_one a {
        font-size: 16px;
        display: block; }
      .kuai .middle .middle_one img {
        width: 1.2rem;
        height: 0.6rem;
        margin: 0.3rem 0.49rem; }
  .kuai .toop {
    width: 0.5rem;
    height: 0.3rem;
    margin: 0.04rem 0.09rem;
    border: 1px solid #ff801a;
    float: left; }
    .kuai .toop a {
      font-size: 16px;
      display: block;
      text-align: center;
      line-height: 0.3rem;
      color: #ff801a; }
  .kuai .zong {
    width: 3.7rem;
    height: 0.39rem;
    background: white; }
    .kuai .zong p {
      float: left;
      font-size: 15px;
      padding-top: 0.08rem; }
  .kuai .five {
    float: left;
    width: 0.7rem;
    height: 0.28rem;
    border: 1px solid #999;
    margin-left: 0.45rem;
    margin-top: 0.05rem;
    border-radius: 0.2rem; }
    .kuai .five img {
      width: 0.2rem;
      height: 0.2rem;
      margin: 0.05rem 0.1rem;
      float: left; }
    .kuai .five a {
      display: block;
      font-size: 14px;
      padding: 0.05rem 0.1rem; }

.five2 {
  float: left;
  width: 0.7rem;
  height: 0.28rem;
  border: 1px solid #999;
  margin-left: 0.06rem;
  margin-top: 0.05rem;
  border-radius: 0.2rem; }
  .five2 img {
    width: 0.2rem;
    height: 0.2rem;
    margin: 0.05rem 0.1rem;
    float: left; }
  .five2 a {
    display: block;
    font-size: 14px;
    padding: 0.05rem 0.1rem; }

.xing2 {
  width: 100%;
  height: 0.6rem;
  margin-top: 0.1rem;
  background: white; }
  .xing2 img {
    width: 0.2rem;
    height: 0.2rem;
    margin-top: 0.19rem;
    margin-left: 0.2rem;
    float: left; }
  .xing2 h3 {
    float: left;
    font-size: 22px;
    padding: 0.16rem; }
  .xing2 a {
    font-size: 16px;
    display: block;
    padding-top: 0.2rem;
    padding-left: 2.7rem; }
  .xing2 span {
    position: absolute;
    top: 0.15rem;
    left: 3.5rem;
    font-size: 24px;
    display: block; }

.shouyi {
  display: flex;
  height: 1.3rem;
  width: 100%;
  background: #f6f6f6;
  overflow: auto; }
  .shouyi img {
    width: 2rem;
    height: 1.2rem;
    float: left;
    margin-top: 0.03rem; }

footer {
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 0.5rem;
  position: fixed;
  bottom: 0rem; }
  footer a {
    width: 25%;
    text-align: center;
    display: block; }
    footer a img {
      width: 0.3rem;
      height: 0.3rem;
      margin: 0 auto;
      display: block; }
    footer a span {
      font-size: 12px;
      color: #cccccc;
      display: block; }

/*# sourceMappingURL=jingxuan.css.map */
