header {
  width: 100%;
  height: 0.45rem;
  background-color: #fff; }
  header .head {
    width: 89.3333%;
    margin: 0 auto; }
    header .head i {
      font-size: 17px;
      float: left;
      line-height: 0.45rem;
      color: #666;
      font-weight: 900; }
    header .head span {
      width: 1.07rem;
      font-size: 17px;
      line-height: 0.45rem;
      margin: 0 auto;
      color: #999;
      text-align: center; }
  header .phoneMistake {
    width: 100%;
    height: 0.45rem;
    position: fixed;
    top: -0.45rem;
    background-color: #ff3153;
    transition: all 1s; }
    header .phoneMistake span {
      font-size: 16px;
      display: block;
      color: white;
      line-height: 0.45rem;
      margin: 0 auto;
      text-align: center; }

.inform {
  width: 89.3333%;
  margin: 0.99rem auto 0.5rem auto;
  box-sizing: border-box; }
  .inform form {
    height: 1.75rem; }
    .inform form input {
      font-size: 16px;
      color: #000;
      width: 100%;
      border-top: none;
      border-right: none;
      border-left: none;
      padding-bottom: 0.1rem;
      caret-color: #508cee;
      display: block;
      margin-bottom: 0.3rem; }
    .inform form input::-webkit-input-placeholder {
      color: #b0b0b0; }
    .inform form #RegBtn {
      height: 0.5rem;
      background-color: #ccc;
      color: #fff;
      line-height: 0.5rem;
      border: none;
      margin-top: 0.28rem; }
  .inform p {
    font-size: 12px;
    color: #ccc; }
    .inform p a {
      display: inline;
      color: #508cee; }
